<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Hem</a></li>
  <li><a href="1-inledning.html">1 Inledning</a></li>
  <li><a href="2-versionsinformation.html">2 Versionsinformation</a></li>
  <li><a href="3-tjanstedomanens-arkitektur.html">3 Tjänstedomänens arkitektur</a></li>
  <li><a href="4-tjanstedomanens-krav-och-regler.html">4 Tjänstedomänens krav och regler</a></li>
  <li><a href="5-gemensamma-informationskomponenter.html">5 Gemensamma informationskomponenter</a></li>
  <li><a href="6-tjanstedomanens-meddelandemodeller.html">6 Tjänstedomänens meddelandemodeller</a></li>
  <li><a href="7-tjanstekontrakt.html">7 Tjänstekontrakt</a></li>
  <li><a href="artifacts.html">Artifacts</a></li>
</ul>
