<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Hem</a></li>
  <li><a href="1-inledning.html">1 Inledning</a></li>
  <li><a href="2-generella-regler.html">2 Generella regler</a></li>
  <li><a href="3-sla-krav-support.html">3 SLA-krav/support</a></li>
  <li><a href="4-tjanstekontrakt.html">4 Tjänstekontrakt</a></li>
  <li><a href="5-tillgangliga-urval.html">5 Tillgängliga urval</a></li>
  <li><a href="artifacts.html">Artefakter</a></li>
</ul>
