<menu xmlns="http://www.w3.org/1999/xhtml">
  <item name="Home" url="index.html"/>
  <item name="1 Inledning" url="1-inledning.html"/>
  <item name="2 Generella regler" url="2-generella-regler.html"/>
  <item name="7 Tjänstekontrakt" url="7-tjanstekontrakt.html"/>
  <item name="8 Datatyper" url="8-datatyper.html"/>
  <item name="Artifacts" url="artifacts.html"/>
</menu>
